<div class="container">
  <app-cockpit (addServer)="addServerClick($event)"></app-cockpit>
  <hr>
  <div class="row" *ngIf="servers.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Element</button>
      <app-server-element *ngFor="let server of servers" [server]="server" [name]="server.name">
        <!-- These will be projected into app-server-element's ng-content -->
        <div [ngClass]="[server.is_blueprint ? 'text-primary': 'text-danger']">
          <strong *ngIf="!server.is_blueprint">{{server.content}}</strong>
          <em *ngIf="server.is_blueprint"><strong>{{server.content}}</strong></em>
        </div>        
      </app-server-element>
    </div>
  </div>
</div>