<div class="row" *ngIf="server" >
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <strong>{{server.name}}</strong>
        </h3>
      </div>
      <div class="panel-body">
          <div [ngClass]="[server.is_blueprint ? 'text-primary': 'text-danger']">
            <strong *ngIf="!server.is_blueprint">{{server.content}}</strong>
            <em *ngIf="server.is_blueprint"><strong>{{server.content}}</strong></em>
          </div>
      </div>
    </div>
  </div>
</div>   